.start-screen {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#start-img {
    width: 30%;
    margin: 30px 0;
  }

  .start-screen footer {
    margin-top: 20px;
    font-size: 0.85em;
  }

  .start-screen a {
    color: rgb(255, 0, 0);
    text-decoration: none;
  }
  .start-screen a:hover {
    color: rgb(0, 0, 0);
  }
  

  @media screen and (max-width:400px) {
    .start-screen {
      margin-top: 66px;
    }
  }
  
  