.question-div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
    font-family: 'Titan One', cursive;
    width: 100%;

}

.question-div ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.question-div li {
    margin: 0 10px;
}

.question-div li:hover {
    color: rgb(85, 85, 85);
}

.question-div p {
    font-size: 1.7em;
    padding: 5px 4px;
    text-indent: left;
}

.question-div .question, .question-div .choices {
    background-color: #FFF;
    z-index: 1;
}


.question-div .choices {
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    font-size: 1.2em;
    padding-bottom: 20px;

}

.question-div img {
    position: absolute;
    width: 40%;
    top: 50%;
    left: 50%;
    height: initial;
    transform: translate(-50%, -40%);
    margin: 0px;
    z-index: 0;
}

