.App {
  text-align: center;
  background-color: #FFF;
  margin: calc(0 auto - 10px);
  border: 3px solid black;
  width: 400px;
  min-height: 330px;
  position: relative;
}

@media screen and (max-width:400px) {
  .App{
    width: 100%;
    min-width: 330px;
    min-height: 400px;

  }
}


